@mixin font-face($url, $font-family, $font-weight, $font-style) {
	@font-face {
		src:
			url($url + ".woff2") format("woff2"),
			url($url + ".woff") format("woff");
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: swap;
	}
}

@include font-face("../fonts/montserrat-v24-latin-400", "Montserrat", 400, normal);
@include font-face("../fonts/montserrat-v24-latin-500", "Montserrat", 500, normal);
@include font-face("../fonts/montserrat-v24-latin-700", "Montserrat", 700, normal);
